*{
    margin: 0;
    padding: 0;
}
.Imgcontainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }

.Imgcontainer>img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bodyContainer{
    position: absolute;
    top: 65%;
    left: 41%;
    transform: translate(-50%, -50%);
}

.content{
    width: 60%;
}